name: conan-package

on:
  workflow_dispatch:
  push:
    paths:
      - '*.xml.*'
      - '*.sig'
      - 'conanfile.py'
      - '.github/workflows/conan-package.yml'
      - '.github/workflows/requirements*.txt'
    branches:
      - main
      - master
      - 'PP-*'
      - 'CURA-*'
      - 'NP-*'
      - '[0-9].[0-9]*'

jobs:
  conan-recipe-version:
    uses: ultimaker/cura-workflows/.github/workflows/conan-recipe-version.yml@main
    with:
      project_name: fdm_materials

  conan-package-export-linux:
    needs: [ conan-recipe-version ]
    uses: ultimaker/cura-workflows/.github/workflows/conan-recipe-export.yml@main
    with:
      recipe_id_full: ${{ needs.conan-recipe-version.outputs.recipe_id_full }}
      recipe_id_latest: ${{ needs.conan-recipe-version.outputs.recipe_id_latest }}
    secrets: inherit
