---
name: conan-package

# Exports the recipe, sources and binaries for Mac, Windows and Linux and upload these to the server such that these can
# be used downstream.
#
# It should run on pushes against main or CURA-* branches, but it will only create the binaries for main and release
# branches
#
# The version of the recipe has the following naming scheme:
#   - Pushed to main: <package_name>/<major>.<minor>.<patch>-alpha+<commits_since_last_version_tag>@stable/utlimaker
#   - Pushed to release branch: <package_name>/<major>.<minor>.<patch>-beta+<commits_since_last_version_tag>@stable/utlimaker
#   - Release tag: <package_name>/<major>.<minor>.<patch>@_/_
#   - Pushed to CURA-****_branch: <package_name>/<major>.<minor>.<patch>-CURA-****+<commits_since_last_version_tag>@testing/utlimaker
#   - Merge request: <package_name>/<major>.<minor>.<patch>-merge-***+<commits_since_last_version_tag>@testing/utlimaker
#   - Pull request: <package_name>/<major>.<minor>.<patch>-pull-***+<commits_since_last_version_tag>@testing/utlimaker

on:
    push:
        paths:
            - '*.material'
            - '*.sig'
            - 'conanfile.py'
            - '.github/workflows/conan-package.yml'
        branches:
            - main
            - 'CURA-*'
        tags:
            - '[1-9]+.[0-9]+.[0-9]+'

    pull_request:
        paths:
            - '*.material'
            - '*.sig'
            - 'conanfile.py'
            - '.github/workflows/conan-package.yml'
        branches:
            - main

jobs:
    conan-recipe-version:
        uses: ultimaker/cura/.github/workflows/conan-recipe-version.yml@CURA-9365_fix_building_cura_main
        with:
            project_name: fdm_materials

    conan-package-export-linux:
        needs: [ conan-recipe-version ]
        uses: ultimaker/cura/.github/workflows/conan-recipe-export.yml@CURA-9365_fix_building_cura_main
        with:
            recipe_id_full: ${{ needs.conan-recipe-version.outputs.recipe_id_full }}
            recipe_id_latest: ${{ needs.conan-recipe-version.outputs.recipe_id_latest }}
            runs_on: 'ubuntu-20.04'
            python_version: '3.10.4'
            conan_config_branch: 'CURA-9177_Fix_CI_CD'
            conan_logging_level: 'info'
            conan_export_binaries: true
        secrets: inherit

    conan-package-export-macos:
        needs: [ conan-recipe-version ]
        uses: ultimaker/cura/.github/workflows/conan-recipe-export.yml@CURA-9365_fix_building_cura_main
        with:
            recipe_id_full: ${{ needs.conan-recipe-version.outputs.recipe_id_full }}
            recipe_id_latest: ${{ needs.conan-recipe-version.outputs.recipe_id_latest }}
            runs_on: 'macos-10.15'
            python_version: '3.10.4'
            conan_config_branch: 'CURA-9177_Fix_CI_CD'
            conan_logging_level: 'info'
            conan_export_binaries: true
        secrets: inherit

    conan-package-export-windows:
        needs: [ conan-recipe-version ]
        uses: ultimaker/cura/.github/workflows/conan-recipe-export.yml@CURA-9365_fix_building_cura_main
        with:
            recipe_id_full: ${{ needs.conan-recipe-version.outputs.recipe_id_full }}
            recipe_id_latest: ${{ needs.conan-recipe-version.outputs.recipe_id_latest }}
            runs_on: 'windows-2022'
            python_version: '3.10.4'
            conan_config_branch: 'CURA-9177_Fix_CI_CD'
            conan_logging_level: 'info'
            conan_export_binaries: true
        secrets: inherit

    notify:
        # FIXME: Remove once merged to main
        if: ${{ always() }}
        needs: [ conan-package-export-macos, conan-package-export-windows, conan-package-export-linux ]

        uses: ultimaker/cura/.github/workflows/notify.yml@CURA-9365_fix_building_cura_main
        with:
            success: ${{ contains(join(needs.*.result, ','), 'success') }}
            success_title: "New binaries created for ${{ github.repository }}"
            success_body: "New binaries created for ${{ github.repository }}"
            failure_title: "Failed to create binaries ${{ github.repository }}"
            failure_body: "Failed to create binaries ${{ github.repository }}"
        secrets: inherit
